* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

.home__outerWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.home__firstSection-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: black;
}

.firstSection-icons {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
	margin-top: 13%;
	animation-name: text-focus-in;
	animation-duration: 3s;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view(0px 300px);
	animation-range: entry;
}

.firstSection-icons div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.firstSection-icons div p {
	color: var(--apple-white);
	font-size: 0.75rem;
	margin-top: 10px;
	transition: 0.4s;
	cursor: pointer;
}

.firstSection-icons div p:hover {
	color: var(--apple-blue);
}

.icons {
	width: 30px;
	height: 30px;
}

.firstSection-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	color: var(--apple-white);
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view(0px 300px);
	animation-range: entry;
}

.firstSection-content h1 {
	margin: 10% 0;
	font-size: 6rem;
	font-weight: 700;
	line-height: 7rem;
}

.firstSection-content p {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 10%;
	padding: 0 20%;
	line-height: 2rem;
}

.home__secondSection-wrapper {
	display: flex;
	width: auto;
	height: auto;
}

.secondSection-contentWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--apple-darkGray);
	height: 140px;
}

.contentWrapper-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.secondSection-icon {
	height: 100px;
	width: 100px;
	margin-bottom: 12px;
}

.contentWrapper-content h4 {
	color: var(--apple-white);
	font-size: 1.3 rem;
	font-weight: 600;
	margin: 0 50px;
	text-align: center;
}

.contentWrapper-content button {
	color: var(--apple-white);
	border: 1px solid var(--apple-white);
	background: transparent;
	padding: 10px 20px;
	border-radius: 30px;
	transition: 0.5s;
}

.contentWrapper-content button:hover {
	color: var(--apple-darkGray);
	border: none;
	background: var(--apple-white);
}

.thirdSection-content {
	overflow: hidden;
}

.thirdSection-video {
	width: 100%;
	height: 550px;
	object-fit: cover;
	z-index: -1;
	position: relative;
	overflow-x: hidden;
	z-index: 5;
}

.myButton {
	padding: 100px;
	background-color: aqua;
	color: black;
}

.customHeader {
	color: var(--apple-blue);
	font-weight: 700;
	font-size: 2rem;
}

.home__cardSection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	column-gap: 10px;
	row-gap: 10px;
	margin: 5px 10px;
}

custom-background {
	background-color: var(--apple-black);
}

@media screen and (max-width: 1100px) {
	.firstSection-icons div p {
		font-size: 0.7rem;
	}

	.icons {
		width: 27px;
		height: 27px;
	}

	.firstSection-content h1 {
		font-size: 5rem;
		line-height: 5rem;
	}

	.firstSection-content p {
		font-size: 1.1rem;
		font-weight: 400;
		margin: 3% 0 8% 0;
	}

	.secondSection-contentWrapper {
		height: 110px;
	}

	.secondSection-icon {
		height: 80px;
		width: 80px;
	}

	.contentWrapper-content h4 {
		font-size: 1.2 rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 850px) {
	.firstSection-icons {
		margin-top: 12%;
	}

	.firstSection-icons div {
		text-align: center;
		margin: 0 5px;
	}

	.firstSection-icons div p {
		font-size: 0.68rem;
	}

	.icons {
		width: 25px;
		height: 25px;
	}

	.firstSection-content h1 {
		font-size: 4rem;
		line-height: 4rem;
	}

	.firstSection-content p {
		font-size: 0.9rem;
		font-weight: 300;
		margin: 4% 0 8% 0;
		line-height: 1.2rem;
	}

	.secondSection-contentWrapper {
		height: 110px;
	}

	.secondSection-icon {
		height: 80px;
		width: 80px;
	}

	.contentWrapper-content h4 {
		font-size: 1.2 rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 770px) {
	.firstSection-content p {
		margin: 10% 0 12% 0;
	}

	.home__cardSection {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.firstSection-content h1 {
		font-size: 2rem;
		line-height: 2rem;
		margin: 15% 0;
	}

	.firstSection-content p {
		font-size: 0.9rem;
		font-weight: 200;
		margin: 0% 0 20% 0;
		line-height: 1.5rem;
	}

	.firstSection-icons {
		margin-top: 20%;
		width: 70%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	.firstSection-icons div:nth-child(1) img {
		width: 40px;
		height: 40px;
	}

	.firstSection-icons div:nth-child(2) img {
		width: 30px;
		height: 30px;
	}

	.firstSection-icons div {
		margin: 10px 5px;
	}

	.firstSection-icons div p {
		font-size: 0.9rem;
	}

	.icons {
		width: 20px;
		height: 20px;
	}

	.secondSection-contentWrapper {
		height: 220px;
	}

	.contentWrapper-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secondSection-icon {
		margin-bottom: -20px;
	}

	.contentWrapper-content h4 {
		font-weight: 500;
		margin: 10px 50px;
	}

	.contentWrapper-content button {
		font-size: 1rem;
		margin: 5px 0 30px 0;
	}

	.thirdSection-video {
		height: 400px;
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}
