* {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	display: none;
}

.shop__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shop_header {
	margin-top: 12%;
	text-align: center;
	align-items: center;
}

.shop_header h1 {
	font-size: 6rem;
}

.shop_header h1 span {
	color: var(--apple-blue);
}

.shop_content {
	margin: 10% 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.shop_container {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding-top: 50px;
	top: 0;
}

.shop_containerMac {
	width: 350px;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	top: 0;
}

.shop_containerWatch {
	width: 350px;
	height: 1300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding-top: 50px;
	top: 0;
	background-color: #f7f7f7;
}

.shop-topImage {
	position: relative;
	width: 300px;
	height: 250px;
	display: flex;
	justify-content: center;
}

.shop-topImage img {
	height: 200px;
	width: auto;
	position: absolute;
	top: 10px;
}

.shop-colors {
	display: flex;
	width: 70%;
	justify-content: center;
}

.shop-colors div {
	height: 30px;
	width: 30px;
	border-radius: 18px;
	margin: 8px;
}

.shop-spec {
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 280px;
}

.shop-spec > div {
	margin-top: 20px;
	font-size: 1.7rem;
	font-weight: 500;
	display: flex;
	width: 100%;
	justify-content: left;
}

.shop-spec > div > span {
	background-color: var(--apple-black);
	color: var(--apple-white);
	padding: 10px;
	border-radius: 5px;
	margin-right: 10px;
}

.shop-spec-paragraph {
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 30px !important;
}

.shopiPad_buyButton {
	margin-top: 50px;
	color: var(--apple-white);
	background-color: var(--apple-blue);
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
}
